@import "css/font.less";

@theme-color: #9600ff;
@statusbar-height: 1.5rem;
@line-height: 1.5rem;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Monaco";
  font-size: 14px;
  color: #fff;
  background: #222;
}

.buffer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.lines-container {
  flex: 1;
  overflow-x: auto;
  min-height: 100%;
  padding-left: 0.3ch;
}

.lines {
  padding-bottom: @statusbar-height;
}

.lines {
  position: relative;
}

.line-numbers {
  background: @theme-color;
}

.line, .line-number {
  white-space: pre;
  height: @line-height;
  line-height: @line-height;
  display: flex;
  align-items: center;
}

.line-number {
  padding: 0 1ch;
}

.cursor {
  position: absolute;
  width: 1ch;
  background: rgba(255,255,255,.5);
  white-space: pre;
  height: 1.3rem;
  padding: 0 0 2px 0;
  transform: translateY(0.1rem)
}


.status {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: @theme-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9rem;
  height: @statusbar-height;
  padding: 0 0.3ch;
  white-space: pre;
}

.status .cursor {
  transform: translateX(0.3ch);
}

.status-cmds {
  padding-left: 2ch;
}
