
// @main-color: #000001;
// @main-light-color: #000002;
// @main-heavy-color: #000003;
// @main-text-color: #000004;
// @main-text-heavy-color: #000005;
// @main-dark-color: #000006;

@main-color: #4f4f4f;
@main-light-color: #dcdcdc;
@main-heavy-color: #000003;
@main-text-color: #ffffff;
@main-text-heavy-color: #3c3c3c;
@main-dark-color: #000006;

@import "css/font.less";
@import "css/Icon.less";
@import "css/Button.less";
@import "css/ButtonProgress.less";
@import "css/Checkbox.less";
@import "css/RadioButton.less";
@import "css/Select.less";
@import "css/IconSVG.less";
@import "css/Input.less";
@import "css/TextArea.less";
@import "css/PopupBubble.less";
@import "css/Rating.less";
@import "css/header.less";
@import "css/prechat.less";
@import "css/form.less";
@import "css/chat-window.less";
@import "css/chat-input.less";
@import "css/footer.less";
@import "css/invitation.less";
@import "css/mobile.less";
@import "css/kbSearch.less";

@media all and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  .window__chat:hover::-webkit-scrollbar-thumb,
  .window__form:hover::-webkit-scrollbar-thumb,
  .window__formContainer:hover::-webkit-scrollbar-thumb,
  textarea:hover::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
  }

  .window__chat,
  .window__form {
    width: calc(~"100% - 4px");
  }

  .bubble .window__form {
    width: auto;
  }


  .window--bubble .window__chat {
    padding-right: 11px;
  }

  .window--classic .window__chat,
  .window--circle .window__chat {
    padding-right: 16px;
  }

  .window__form {
    padding-right: 36px;
  }

  .window--bubble .window__form {
    padding-right: 26px;
  }

  ::-webkit-scrollbar-button {
    height: 4px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  ::-webkit-scrollbar-corner {
    background-color: #fff;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background-color: #fff;
    background-color: transparent;
  }
}

::-webkit-input-placeholder {
  color: #bbb;
}

::-moz-placeholder {
  color: #bbb;
}

:-ms-input-placeholder {
  color: #bbb;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "SourceSans Pro", Arial;
  line-height: 1.42857143;

  /*
   * To make sure when browser is too small, no scrollbar will be shown.
   * Otherwise tabs will be messed up when scrolling in "visitor" panel.
   * See issue 18781
   */
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-family: "SourceSans Pro Bold";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}

.text-ellipsis() {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a {
  color: @main-color;
  text-decoration: underline;
  cursor: pointer;
}

a:focus,
a:hover,
a:active {
  text-decoration: underline;
  outline: none !important;
}

input,
textarea {
  font-family: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

b,
strong {
  font-family: SourceSans Pro Bold, Arial;
}

textarea {
  resize: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated-frames7 {
  animation-duration: 0.292s;
}

.animated-frames11 {
  animation-duration: 0.458s;
}

.animated-frames18 {
  animation-duration: 0.75s;
}

.animated-delayframes1 {
  animation-delay: 0.042s;
}

.animated-delayframes2 {
  animation-delay: 0.083s;
}

.animated-delayframes3 {
  animation-delay: 0.125s;
}

.animated-delayFrames7 {
  -webkit-animation-delay: 0.292s;
  animation-delay: 0.292s;
}

.animated-delayFrames9 {
  -webkit-animation-delay: 0.375s;
  animation-delay: 0.375s;
}

.animated-delayFrames10 {
  -webkit-animation-delay: 0.417s;
  animation-delay: 0.417s;
}

.animated-delayFrames12 {
  animation-delay: 0.5s;
}

.animated-delayFrames13 {
  -webkit-animation-delay: 0.542s;
  animation-delay: 0.542s;
}

.animated-delayFrames15 {
  animation-delay: 0.625s;
}

.animated-delayFrames36 {
  animation-delay: 1.5s;
}

.animated-delayFrames39 {
  animation-delay: 1.625s;
}

.animated-delayFrames42 {
  animation-delay: 1.75s;
}

.amimated-infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.transform-origin-00 {
  transform-origin: 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
// @keyframes fadeInDown-01 {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(0, -100%, 0);
//     transform: translate3d(0, -100%, 0)
//   }
//   14% {
//     opacity: 0;
//     -webkit-transform: translate3d(0, -86%, 0);
//     transform: translate3d(0, -86%, 0)
//   }
//   to {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none
//   }
// }
// .fadeInDown-01 {
//   -webkit-animation-name: fadeInDown-01;
//   animation-name: fadeInDown-01
// }
// .fadeInDown--header {
//   animation-duration: .292s;
//   animation-fill-mode: both;
//   animation-name: fadeInDown;
//   animation-delay: .5s;
// }
@keyframes main-container--fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(620px);
  }
}

@keyframes main-container--fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeInUp--window__form {
  animation-duration: 0.292s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.625s;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@keyframes at-ripple {
  /* 0% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1);
  }
  33.33% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1),
                0 0 0 10px rgba(102, 102, 102, 0.1),
                0 0 0 20px rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1);
  }
  66.67% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1),
                0 0 0 20px rgba(102, 102, 102, 0.1),
                0 0 0 30px rgba(102, 102, 102, 0);
  }
  100% {
    box-shadow: 0 4px 10px rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1),
                0 0 0 0 rgba(102, 102, 102, 0.1),
                0 0 0 30px rgba(102, 102, 102, 0);
  } */
  0% {
    box-shadow: 0 0 0 0 rgba(218, 218, 218, 1);
  }

  100% {
    box-shadow: 0 0 0 25px rgba(218, 218, 218, 0);
  }
}

.at-ripple {
  -webkit-animation-name: at-ripple;
  animation-name: at-ripple;
}

.window--maximized.window--animated,
.animation--chatting.window--animated,
.animation--postchat.window--animated {
  // animation: yAxisWindow .5s forwards cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@keyframes yAxisWindow {
  0% {
    // transform: translateY(0px);
  }

  100% {
    // transform: translateY(0px);
    opacity: 1;
  }
}
// .window--maximized:not(.animation--chatting) .header {
//   animation-duration: .292s;
//   animation-fill-mode: both;
//   animation-name: fadeInDown;
//   animation-delay: .5s;
// }

.window--minimized {
  animation: window--minimized 0.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@keyframes window--minimized {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  99% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
// .animation--chatting .window__form {
//   position: absolute;
//   // display: none;
//   animation-duration: .458s;
//   animation-fill-mode: both;
//   animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
//   animation-name: animation-translateY-Up;
//   animation-delay: 0s;
// }
// .animation--chatting .window__chat {
//   display: block;
//   animation-duration: .458s;
//   animation-fill-mode: both;
//   animation-name: fadeInUp--windowFormContainer;
//   // animation-delay: 1.334s;
//   // transition: all .458s cubic-bezier(0.785, 0.135, 0.150, 0.860) 2.000s;
// }
.animation--chatting.window--animated .header {
  transition: height 0.416s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.4s;
}

.animation--waiting .prechatHeader,
.animation--chatting .prechatHeader {
  opacity: 0;
  transform: translateY(-140px);
  transition: all 0.416s cubic-bezier(0.785, 0.135, 0.15, 0.86) 1.792s;
}
// .window--maximized .window__headerBox {
//   opacity: 1;
//   transform: translateY(0);
//   transition: all .292s cubic-bezier(0.785, 0.135, 0.150, 0.860);
// }
// .animation--chatting .window__headerBox {
//   opacity: 1;
//   transform: translateY(0);
//   transition: all .292s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.792s;
// }
// .window--maximized .header__agent {
//   display: none;
// }
// .animation--chatting .header__agent {
//   // display: block;
//   animation-duration: .458s;
//   animation-fill-mode: both;
//   animation-name: fadeInUp;
//   animation-delay: .4s;
// }
// .animation--postchat .header__agent {
//   display: block;
// }

// @keyframes fadeInUp--chatinput {
//   0% {
//     opacity: 0;
//     transform: translateY(100%);
//   }
//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
// .window--classic.animation--chatting .footer__operation {
//   opacity: 1;
//   transform: translateY(0);
//   transition: all .458s cubic-bezier(0.785, 0.135, 0.150, 0.860) .4s;
// }

.window--minimized {
  // display: none;
  // opacity: 1;
  // transform: translateY(0);
  // animation: main-container--fadeOut .5s cubic-bezier(0.785, 0.135, 0.150, 0.860) .167s both;
}

.window--minimized .chat {
  animation: none;
  opacity: 0;
  transition: opacity 0.208s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.window--minimized .chatInputContainer,
.window--minimized .window__footer {
  animation: fadeoutdown 0.167s cubic-bezier(0.785, 0.135, 0.15, 0.86) both;
}

@keyframes fadeoutdown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* ******end prechat header******* */

@keyframes animation-translateY-Up {
  0% {
    transform: translateY(0);
    overflow: hidden;
  }

  100% {
    transform: translateY(-100%);
  }
}

.animation-translateY-Up {
  animation-duration: 0.458s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-name: animation-translateY-Up;
  animation-delay: 1.209s;
}

/* ******end prechat******* */

html, body {
    height: 100%;
}

#container {
    height: 100%;
}

.window--classic {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.window__form {
    flex: 1;
}

.whole-window {
  position: fixed;
  z-index: 10;

  /* opacity: 0; */
  // width: 400px;
  // height: 560px;
  width: 100%;
  height: 100%;
  // transform: translateY(590px);


  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);

  /* background: #fff; */

  /* overflow: hidden; */
}

.window--bubble.whole-window .main-container {
  position: relative;
}

.window--classic.whole-window .main-container,
.window--bubble.whole-window .main-container {
  overflow: hidden;
}

.window--embedded {
  right: 30px;
  bottom: 0;
  width: calc(~"100% - 60px");
  height: calc(~"100% - 30px");
}

.window--circle--extendedwindow {
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.15);
  width: calc(~"100% - 35px");
}

.window--ipad .window--embedded {
  right: 0;
  width: 100%;
}

.window--ipad .window--bubble.window--embedded {
  bottom: 0;
  height: 100%;
}

.window--bubble.window--embedded {
  height: calc(~"100% - 30px");
}

.window--bubble {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// .window--bubble {
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  // background: url(./images/seigaiha.png) repeat;
  background-color: #fff;
  background-size: cover;
}

// .window--classic .window__chatOperationPlus,
// .window--circle .window__chatOperationPlus, .window--bubble .window__chatSender,
// .window--bubble .window__chatOperationPlus, .window--circle .window__chatSender,
// .window__chatOperation {
//   display: none;
// }

/* ******begin chat window****** */

.loading-circle {
  fill: #a3a3a3;
}

/* ******end chat window******** */

/* *****begin postchat window***** */

.animation--postchat .window__form {
  // opacity: 0;
  // transform: translateY(-100%);
}

.animation--postchat .window__chat {
  // display: block;
  // position: absolute;
  // animation-duration: .292s;
  // animation-fill-mode: both;
  // animation-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  // animation-name: animation-translateY-Up;

  /* animation-delay: 1.209s; */
}
// .window__postchat {
//   display: none;
// }

/* *****end postchat window***** */

#comm100-audio-chat-window {
  transition: width 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* *****begin classic****** */
.window--classic {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

/* *****end classic****** */

/* *****begin circle***** */
.window--circle {
  height: 100%;
  top: 0;
}

.window--bio.window--circle {
  height: calc(~"100% - 45px");
  top: 45px;
  // width: 360px;
  // overflow: initial;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.window--embedded.window--circle {
  height: calc(~"100% - 45px");
  top: auto;
}

.window--circle.window-noavator {
  top: 0;
  height: 100%;
}

.window--circle.window--embedded.window-noavator {
  top: unset;
  height: calc(~"100% - 75px");
}

.window--circle,
.window--circle .main-container {
  // height: 535px;
  // width: 360px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .window--circle .window_chatError {
  position: absolute;
  z-index: 99;
  left: 20px;
  right: 20px;
  bottom: 125px;
  padding: 13px 38px 13px 15px;
  line-height: 18px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.window--circle .window_chatErrorClose {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -9px;
  cursor: pointer;
}
.window--circle .window_chatError--mitigate {
  background: #ffe8c4;
  border: 1px solid #ffdeb0;
  color: #ee8835;
}
.window--circle .window_chatError--urgency {
  background: #ffebeb;
  border: 1px solid #ffdddd;
  color: #de3939;
} */

/* *****end circle***** */

/* *****begin bubble***** */
.window--bubble {
  position: absolute;
  // right:30px;
  // width: 290px;
  // height: calc(~"100% - 30px");
  background: transparent;
  box-shadow: none;
}

.window--bubble:not(.window--embedded) {
  padding-left: 15px;
  padding-right: 15px;
}

.window--mobile .window--bubble:not(.window--embedded) {
  padding-left: 0;
  padding-right: 0;
}

.window--bubble .main-container {
  display: flex;
  flex-direction: column;
  background: none;
  justify-content: flex-end;
  flex-shrink: 0;
}

.window--bubble .main-container {
  position: static;
  // top: 0;
  bottom: 0;
  height: auto;
}

.window--mobile .window--bubble.window--embedded .main-container {
  // top: 0;
}

/* *****end bubble***** */

.window--rtl .window__chatSystemMessage,
.window--rtl .window__chatAgentMessage,
.window--rtl .window__chatVisitorMessage,
.window--rtl .window__chatInputControl,
.window--rtl .window_chatError,
.window--rtl .window__formGreeting,
.window--rtl .window__form,
.window--rtl .window__formContainer,
.window--rtl .knowlegedbase__content,
.window--bubble.window--rtl .window__chatSystemMessageContent {
  direction: rtl;
}

.window--bubble.window--rtl .window__chatSystemMessage {
  direction: ltr;
}

.window--rtl {
  .control {
    padding-right: 20px;
    padding-left: 0;
  }

  .controlIndicator {
    right: 0;
    left: auto;
  }

  .container-checkbox {
    padding-left: 0;
    padding-right: 20px;
  }

  .container-checkbox i {
    right: 0;
    left: auto;
  }
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .window--rtl .window__chat,
  .window--rtl .window__form {
    width: calc(~"100% - 12px");
    margin-left: 10px;
    padding-right: 40px;
  }
}

.window--ie9 {
  // .main-container {
  //   overflow: auto;
  // }

  // &.window--classic .main-container .window__title {
  //   right: 20px;
  // }

  &.window--classic .header__avatar,
  &.window--classic .header__agentInfo {
    float: left;
  }

  &.window--classic .window__form,
  &.window--circle .window__form {
    height: calc(~"100% - 156px");
    padding-bottom: 30px;
  }

  .chat-time {
    margin-top: 15px;
  }

  .window__chatAgentMessage,
  .window__chatVisitorMessage {
    max-width: calc(~"100% - 105px");
  }

  &.window--circle .window__chatAgentMessage,
  &.window--circle .window__chatVisitorMessage {
    max-width: calc(~"100% - 65px");
  }

  &.window--bubble .window__chatAgentMessage .btn {
    max-width: 100%;
  }

  &.chat-time {
    padding-top: 10px;
  }

  &.window--classic .header__avatar {
    float: left;
  }

  .chatInputContainer {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  &.window--bubble .chatInputContainer {
    position: relative;
    bottom: 0;
  }

  &.window--circle .chatInputContainer {
    width: calc(~"100% - 30px");
  }

  .window__chat {
    position: absolute;
    right: 0;
  }

  &.window--bubble .window__chat {
    position: static;
    bottom: 90px;
  }

  // &.window--circle .chat-input__controlbox {
  //   overflow: visible;
  // }

  .buttonProgressContainerSuccess .buttonProgressBtnAnimated {
    opacity: 0.65;
  }

  .buttonProgress__layerLoading,
  .lds-css,
  .buttonProgress__layerCircle,
  .buttonProgress__layerSuccess {
    display: none !important;
  }

  .window__footer {
    position: absolute;
    bottom: 0;
  }

  &.window--bubble .window__footer {
    position: static;
  }

  .multipleText {
    overflow: auto;
  }

  &.window--bubble .window__chatVisitorMessage .icon-bubble-content,
  &.window--bubble .window__chatVisitorMessage .icon-bubble-line {
    display: none;
  }

  &.window--bubble .window__chatAgent {
    position: relative;
  }

  &.window--bubble .agentMessage__avatar {
    position: absolute;
    bottom: 0;
  }

  &.window--bubble .window__chatAgentMessage {
    margin-left: 50px;
  }

  &.window--bubble .window__chatSystemMessage {
    float: none;
  }

  .rating .star.animate {
    color: #ffd051;
  }

  .select-box .select {
    padding: 5px 10px;
  }

  .form-fields .box-field iframe {
    height: 30px;
  }

  .window__formContainer--bubble {
    overflow-y: auto !important;
  }

  .chatButton--maximizedAsChatting {
    transform: scale(1);
  }

  &.window--classic .header__agent--withlogo {
    max-width: calc(~"100% - 170px");
  }

  &.window--classic .header__logo {
    float: right;
  }

  &.window--classic .header__agentInfo {
    max-width: calc(~"100% - 60px");
  }

  &.window--classic .window__header--withBio {
    height: 136px;
  }

  &.window--classic .window__header--noBio {
    height: 126px;
  }

  &.window--circle .window__header--withBio {
    height: 165px;
  }

  &.window--circle .window__header--noBio {
    height: 115px;
  }

  &.window--classic .window__chat--withBio {
    max-height: calc(~"100% - 236px");
  }

  &.window--classic .window__chat--noBio {
    max-height: calc(~"100% - 226px");
  }

  &.window--circle .window__chat--withBio {
    max-height: calc(~"100% - 235px");
  }

  &.window--circle .window__chat--noBio {
    max-height: calc(~"100% - 185px");
  }

  &.window--bubble .main-container {
    /*
     * Fix issue 26086
     * if this is not set this way, margin in child element will not be included as parent's height
     * see: [https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element]
     */
    overflow: auto;
    overflow-x: hidden;
  }
}
